#!/bin/sh

export AWS_REGION=us-east-1
export COREOS_CHANNEL=stable
export COREOS_VM_TYPE=hvm
export CLUSTER_NAME=test-k8s-devopia
export KUBECONFIG=$(git rev-parse --show-toplevel)/test-cluster/.kube/config

export AWS_EC2_KEY_NAME=kz8s-${CLUSTER_NAME}
export AWS_EC2_KEY_PATH=${DIR_KEY_PAIR:-~/.ssh}/${AWS_EC2_KEY_NAME}.pem
export INTERNAL_TLD=${CLUSTER_NAME}.kz8s
#export INTERNAL_TLD=${CLUSTER_NAME}.rslocal

export HYPERKUBE_IMAGE=quay.io/coreos/hyperkube
export HYPERKUBE_TAG=v1.8.4_coreos.0

export CIDR_VPC=172.16.0.0/16

export ETCD_IPS=172.16.10.10,172.16.10.11,172.16.10.12
export PKI_IP=172.16.10.9

#CIDR_ALLOW_SSH=`$CDIR/myip`


#export TF_VAR_aws='{ account-id = "'${AWS_ACCOUNT_ID}'", azs = "'${AWS_REGION_AZS}'", key-name = "'${AWS_EC2_KEY_NAME}'", region = "'${AWS_REGION}'" }'
#export TF_VAR_cidr='{ allow-ssh = "'${CIDR_ALLOW_SSH}'", pods = "'${CIDR_PODS}'", service-cluster = "'${CIDR_SERVICE_CLUSTER}'", vpc = "'${CIDR_VPC}'" }'
#export TF_VAR_coreos_aws='{ ami = "'${COREOS_AMI_ID}'", channel = "'${COREOS_CHANNEL}'", type = "'${COREOS_VM_TYPE}'" }'
#export TF_VAR_k8s='{ hyperkube-image = "'${HYPERKUBE_IMAGE}'", hyperkube-tag = "'${HYPERKUBE_TAG}'" }'

#export TF_VAR_internal_tld="${INTERNAL_TLD}"
#export TF_VAR_name="${CLUSTER_NAME}"
#export TF_VAR_pki_ip="${PKI_IP}"
#export TF_VAR_etcd_ips="$ETCD_IPS"
