apiVersion: v1
kind: Pod
metadata:
  name: kube-apiserver
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-apiserver
    image: ${HYPERKUBE}
    command:
    - /hyperkube
    - apiserver
    - --admission-control=LimitRanger
    - --admission-control=NamespaceExists
    - --admission-control=NamespaceLifecycle
    - --admission-control=ResourceQuota
    - --admission-control=SecurityContextDeny
    - --admission-control=ServiceAccount
    - --allow-privileged=true
    - --client-ca-file=/etc/kubernetes/ssl/ca.pem
    - --cloud-provider=aws
    - --etcd-servers=http://etcd.${INTERNAL_TLD}:2379
    - --insecure-bind-address=0.0.0.0
    - --runtime-config=extensions/v1beta1=true
    - --runtime-config=extensions/v1beta1/daemonsets=true
    - --runtime-config=extensions/v1beta1/deployments=true
    - --secure-port=443
    - --service-account-key-file=/etc/kubernetes/ssl/k8s-apiserver-key.pem
    - --service-cluster-ip-range=${SERVICE_IP_RANGE}
    - --tls-cert-file=/etc/kubernetes/ssl/k8s-apiserver.pem
    - --tls-private-key-file=/etc/kubernetes/ssl/k8s-apiserver-key.pem
    - --v=2
    ports:
    - containerPort: 443
      hostPort: 443
      name: https
    - containerPort: 8080
      hostPort: 8080
      name: local
    volumeMounts:
    - mountPath: /etc/kubernetes/ssl
      name: ssl-certs-kubernetes
      readOnly: true
    - mountPath: /etc/ssl/certs
      name: ssl-certs-host
      readOnly: true
  volumes:
  - hostPath:
      path: /etc/kubernetes/ssl
    name: ssl-certs-kubernetes
  - hostPath:
      path: /usr/share/ca-certificates
    name: ssl-certs-host
